# Exercises: Creating, Updating, and Destroying Objects

For the exercises, you will be working with objects and data you create. Before opening this notebook, make sure that you have set up the new connection to the server and that you have located the database and your schema.

## Object Creation

Before coding, think of three things you want to make. These could be coding projects, new recipes, or planned projects for a woodworking hobby. Brainstorm the appropriate column names and data types as well.

Create a table under your schema called `planned_makes`.

In [ ]:
CREATE TABLE Sep2025JunkDB.yogalakshmi_kanagavel.planned_makes (
    make_id INT IDENTITY(1,1) PRIMARY KEY,
    name VARCHAR(100) NOT NULL,
    category VARCHAR(50),
    estimated_time INT,
    materials VARCHAR(255),
    planned_date DATE,
    status VARCHAR(20) DEFAULT 'planned'
);

Add three rows to your table that are your planned makes.

In [ ]:
INSERT INTO Sep2025JunkDB.yogalakshmi_kanagavel.planned_makes (name, category, estimated_time, materials, planned_date, status)
VALUES
('Pasta', 'Cooking', 1, 'Pasta Shells, Cheese, Marinara sauce, Olive Oil', '2025-11-01', 'planned'),
('Chocolate Cake', 'Baking', 2, 'Flour, Sugar, Cocoa, Eggs, Butter', '2025-10-28', 'planned'),
('Bird Painting', 'Oil paint', 3, 'Brushes, Primer', '2025-10-02', 'Completed');

## Update a Row

Change different values in one of your three rows.

In [ ]:
Update Sep2025JunkDB.yogalakshmi_kanagavel.planned_makes
set estimated_time = 0,
status = 'Cancelled'
WHERE name = 'Pasta'

SELECT * FROM Sep2025JunkDB.yogalakshmi_kanagavel.planned_makes

## Delete a Row

Delete one of the rows from your table.

In [ ]:
DELETE FROM Sep2025JunkDB.yogalakshmi_kanagavel.planned_makes
WHERE name = 'Chocolate Cake'

## Drop the Table

While this has been fun, it is time to drop the table!

In [ ]:
DROP TABLE Sep2025JunkDB.yogalakshmi_kanagavel.planned_makes;